@mixin banner-image($image) {
  background: url($image) center center/cover;
  padding-bottom: 100%;
  margin-bottom: 35%;

  @include md {
    padding-bottom: 180%;
  }
  @include lg {
    padding-bottom: 144%;
    margin-bottom: 15%;
  }

  @include xl {
    padding-bottom: 112%;
  }
}

.section-banner {
  $imgs: (
    'contact': '/images/contact.jpg',
    'home-service': '/images/services.jpeg',
    'service': '/images/contact.jpg',
    'wedding-1': '/images/wedding-1.jpeg',
    'wedding-2': '/images/wedding-2.jpeg',
    'wedding-3': '/images/wedding-3.jpeg',
    'wedding-4': '/images/wedding-4.jpeg',
    'wedding-5': '/images/wedding-5.jpeg',
    'wedding-6': '/images/wedding-6.jpeg',
    'wedding-7': '/images/wedding-7.jpeg',
    'wedding-8': '/images/wedding-8.jpeg',
    'misc-1': '/images/misc-1.jpeg',
    'misc-2': '/images/misc-2.jpeg',
    'misc-3': '/images/misc-3.jpeg',
    'misc-4': '/images/misc-4.jpeg',
    'misc-5': '/images/misc-5.jpeg',
    'misc-6': '/images/misc-6.jpeg',
    'misc-7': '/images/misc-7.jpeg',
    'misc-8': '/images/misc-8.jpeg',
    'misc-9': '/images/misc-9.jpeg',
    'stationary-1': '/images/stationary-1.jpeg',
    'stationary-2': '/images/stationary-2.jpeg',
    'stationary-3': '/images/stationary-3.jpeg',
    'stationary-4': '/images/stationary-4.jpeg',
    'stationary-5': '/images/stationary-5.jpeg',
    'stationary-6': '/images/stationary-6.jpeg',
    'stationary-7': '/images/stationary-7.jpeg',
    'stationary-8': '/images/stationary-8.jpeg',
    'stationary-9': '/images/stationary-9.jpeg',
    'stationary-10': '/images/stationary-10.jpeg',
    'stationary-11': '/images/stationary-11.jpeg',
    'stationary-12': '/images/stationary-12.jpeg',
    'stationary-13': '/images/stationary-13.jpeg',
    'stationary-14': '/images/stationary-14.jpeg',
    'stationary-15': '/images/stationary-15.jpeg',
    'hand-painted-1': '/images/hand-painted-1.jpeg',
    'hand-painted-2': '/images/hand-painted-2.jpeg',
    'hand-painted-3': '/images/hand-painted-3.jpeg',
    'hand-painted-4': '/images/hand-painted-4.jpeg',
    'hand-painted-5': '/images/hand-painted-5.jpeg',
    'hand-painted-6': '/images/hand-painted-6.jpeg',
    'hand-painted-7': '/images/hand-painted-7.jpeg',
    'hand-painted-8': '/images/hand-painted-8.jpeg',
    'hand-painted-9': '/images/hand-painted-9.jpeg',
    'hand-painted-10': '/images/hand-painted-10.jpeg',
  );
  @each $name, $image in $imgs {
    .#{$name}-banner--image {
      @include banner-image($image);
    }
  }
}

.home-contact-banner--image {
  background: url(/images/contact.jpg) center center/cover;
  padding-bottom: 100%;

  @include md {
    padding-bottom: 180%;
  }
  @include lg {
    padding-bottom: 144%;
    margin-bottom: 15%;
  }

  @include xl {
    padding-bottom: 112%;
  }
}

.scallop-down-white:before {
  @include scallop(white);
}

.scallop-down-bg-brand300:before {
  @include scallop($brand-300);
}

.scallop-down-bg-brand400:before {
  @include scallop($brand-400);
}

.scallop-down-bg-brand600:before {
  @include scallop($brand-600);
}

@media (max-width: 768px) {
  .reorder {
    display: flex;
    flex-direction: column;
  }
  #image {
    order: 2;
  }
}
