header {
  z-index: 10;
}

.invert {
  .header {
    background: rgba(255, 255, 255, 0.8) 50%;
    filter: none;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in-out;
  }

  .scallop-header-down {
    background: radial-gradient(
      circle at 50% 0%,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 0%
    );
    background-size: 49px 100%;
    -webkit-background-size: 49px 100%;
  }
}

.scallop-header-down {
  content: ' ';
  display: block;
  height: 50px;
  background: radial-gradient(
    circle at 50% 0%,
    transparent 25%,
    transparent 50%,
    transparent 0%
  );
  background-size: 49px 100%;
  -webkit-background-size: 49px 100%;
}

.header {
  padding: 1.5rem 3rem 1rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    filter 0.1s linear 0.3s;
  filter: invert(1);

  @include small-xs {
    padding: 1.25rem 1.5rem 1.25rem 1rem;
  }

  .logo-container {
    display: flex;
    align-items: center;

    @include small-xs {
      position: static;
      transform: none;
    }
  }

  .logo {
    width: auto;
    height: 3.8rem;
  }

  .cart-count {
    right: -4px;
    top: -4px;
    max-width: 10px;
  }

  .login {
    position: relative;
    top: 0.5rem;
    margin-right: 1rem;
  }
}

.mobile-menu-inner {
  padding: 7rem 1.5rem;
}
